header.thehero
  .container
    .leadcopy.center
      :markdown
        # eMailGrouper
        ### Facilitating small-group interactions from your Inbox.

section.tos
  .container
    .row
      .col-sm-12
        :markdown
          ## Privacy Policy
          #### What happens to my emails? Does someone read them?

          You can sleep easy: no human reads your emails. Our servers look at the email and send out another copy, but it is never logged. No person will ever intercept your emails at eMG without your explicit consent on a per-email basis for troubleshooting. Remember that Email has NEVER been a secure means of communication.

          #### Are my email addresses shared/sold?

          Don’t worry, we won't sell or share any data that is passed through our servers. We do analyze the relationships of the groups, but we won't share this information with a third party. It is simply to provide you with a better service.

          #### Will you turn over my information to the government?

          If we are subpoenaed we are required to turn over any information required. We serve you first, and unless we are required to turn over any information, we won't. Ever.

          #### Are you going to send me spam?

          No. Again, we won't sell your information to any third parties. Additionally, we won't ever send you information concerning a third party. We will send you periodic updates concerning our service, but we won't bug you constantly. You can always opt-out [HERE].
