header.thehero
  .container
    .leadcopy.center
      :markdown
        # eMailGrouper
        ### Facilitating small-group interactions from your Inbox.

section.tos
  .container
    .row
      .col-sm-12
        :markdown
          ## Terms of Service
          We're currently in Private Beta, which means our features are changing every day. We can't promise 99.999% uptime yet, and our features are subject to rapid change. As a Private Beta user, you're helping us validate the need for our product, and giving us really useful feedback as we add and change features. You are our reason for existing, and we appreciate you more than words can describe. We actually have some treats in mind just for you when we come out of Beta, so get ready!

          1. The pronouns "we" and "us" refer to eMailGrouper. Modifiers like “our” and “ours” refer us. If you're using our service, you need to understand and agree to the following few points:

          1. No malicious use. It's fine to try new things and test the system, but you shouldn't be trying to find vulnerabilities, or use the service with ill-intent. We shouldn’t need to tell you this, but don't break the law either.

          1. No spam. We do not manage or maintain your groups; you do. We include a mechanism in our emails to let your Group Members request removal from your group. Please respect their wishes. We reserve the right to disable or delete your account if you violate this rule.

          1. Machines process email, not people. Our servers see your email, but only in the same way that dozens of other machines see your email between your inbox and your recipients'. Your email content passes through our server, not past human eyes. (Public Service Announcement: Unencrypted email correspondence is never a secure communication channel, so you shouldn't use our service or anyone else's to transmit critical or confidential information.)

          1. It is your choice to continue using our service, and by doing so you acknowledge that you're okay with our terms.

          1. We'll work hard to make sure things don't go wrong, but they could. We make no guarantee that the service will work all the time, everytime. During the Beta period, we're going to BCC you on every message you initiate to your group addresses, so that you get a confirmation that the message went through. Once we're stable, we'll give you the option to turn this off.

          1. eMailGrouper isn't liable for any issues it causes. Things go wrong, but we'll try our best to fix them as soon as possible. We promise.

          We use terms like "forever" and "unlimited" on our website. Can we all agree here and now that nothing lasts forever and nothing is unlimited? Great! Here's what these words mean in the context of our service:

          * "forever" means "for as long as our service exists".
          * "unlimited" is actually limited in some reasonable ways, to prevent abuse or misuse:
            * Group Owners can Own up to 100 Groups. eMailGrouper is designed to facilitate interactions with small groups of people in your real life. If you have a real-life use-case where you need to segment the groups of people you interact with in more than 100 different ways, let's talk! We can probably accommodate your request, and we'd love to know how common this scenario is.
            * Groups can have up to 50 Members. We're not a mass marketing platform [need affiliate link to MailChimp here]. We facilitate small group interactions and one-way announcements using email. If you believe this is an unreasonable limitation, and you have a legitimate need for more than 50 Members, then let's talk!. We can probably accommodate your request, and we'd love to know if this is a common scenario. One simple solution might be to break a big group into smaller ones (for example, if you’re a school principal, “2nd Grade Parents” can become “Mrs. Smith’s Parents”, “Mr. Jones’ Parents”, and “Ms. Parker’s Parents”)
            * You can send up to 10,000 emails through our system per month. This is a huge number, and it's probably even bigger than you realize because of how our system works. Let's consider a Group with 10 Members in it. When you initiate a new email to the Group using its unique eMailGrouper address, that counts as 10 sends. When recipients Reply-all to your email, none of that traffic goes through our system, so any follow-ups to your original message do not count towards your limit. At this rate, you could send 100 emails to 10 groups of 10 people every month before you hit your limit. If that doesn't sound like enough, then let's talk! We can probably accommodate your request, and we'd love to know if this is a common scenario.
